.Carousel {
    padding: 200px 2em;
    background-color: teal;
}

.reel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reelPhotos {
    width: 68%;
    display: flex;
    overflow: hidden;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress svg {
    height: 1em;
    padding: 8px;
    fill: white;
}

.progress .focus {
    height: 1.5em;
    padding: 4px;
    fill: grey;
}

img {
    object-fit: cover;
    height: 200px;
    width: 300px;
}

img.focus {
    height: 300px;
    width: 400px;
    order: -1;
}

.button .arrow {
    height:120px;
    width: 120px;
}

.back .arrow {
    transform: scaleX(-1);
}
