.card-tableau {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    background-color: maroon;
}

.playing-card {
  background-color: white;
  background-image: url("https://i.imgur.com/iSqcRcw.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em 0.25em black;
  margin: 1em;
  transition: all 0.5s;
  height: 300px;
  width: 200px;
}

.inner-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%;
    width: 95%;
}

.inner-card > * {
    padding: 0;
    margin: 0;
}

.shorthand {
    z-index: 2;
    position: absolute;
    text-align:left;
}

.shorthand p {
    text-align: center;
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.shorthand img {
    width: 22px;
}

.upper {
    top: 0;
    left: 0;
}

.lower {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
}

.card-art {
    position: relative;
    width: 75%;
    z-index: 1;
}

.pips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 75%;
    height: 75%;
}

.pips img {
    place-self: center;
    width: 24px;
    height: 24px;
}

.flipped {
  background-color: white;
  background-image: none;
}

.playing-card:hover {
  box-shadow: 0.5em 0.5em 0.5em black;
  cursor: pointer;
  transform: scale(1.05);
}
