.card-tableau {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    background-color: maroon;
}

.playing-card {
  background-color: white;
  background-image: url("https://i.imgur.com/iSqcRcw.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em 0.25em black;
  margin: 1em;
  transition: all 0.5s;
  height: 300px;
  width: 200px;
}

.inner-card {
    height: 95%;
    width: 95%;
    border: 1px solid red;
}

.flipped {
  background-color: white;
  background-image: none;
}

.playing-card:hover {
  box-shadow: 0.5em 0.5em 0.5em black;
  cursor: pointer;
  transform: scale(1.05);
}
